<!-- Footer -->
<footer class="page-footer bg-light font-small py-4">
  <div class="container-fluid">

    <button type="button" class="btn btn-outline-dark col-md-2 mx-auto d-flex justify-content-center text-monospace font-weight-bold"> 
        <fa-icon [icon]="faArrowUp" class="fas fa-arrow-up mr-3"></fa-icon>
     To the top</button>

    <h3 class="text-center text-monospace mt-3">Social Networks</h3>

    <div class="row">
        
      <div class="col-md-12 justify-content-center d-flex py-3">

        <a class="icoFacebook">
            <fa-icon [icon]="faFacebookSquare" class="fab fa-facebook-square fa-3x p-3"></fa-icon>
        </a>
        
        <a class="icoInstagram">
            <fa-icon [icon]="faInstagram"class="fab fa-instagram fa-3x p-3"></fa-icon>
        </a>

        <a class="icoGithub">
          <fa-icon [icon]="faGithubSquare" class="fa-github-square fa-3x p-3"></fa-icon>
        </a>

        <a class="icoLinkedin">
          <fa-icon [icon]="faLinkedin" class="fab fa-linkedin fa-3x p-3"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-4 text-monospace">
    Powered by
    <a href="https://www.w3schools.com/w3css/default.asp">w3.css</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
