<!-- PREÇO DOS PLANOS -->
<h2
  class="text-monospace font-weight-bolder d-flex justify-content-center pt-5"
>
  Pricing Plans
</h2>
<h5 class="text-monospace d-flex justify-content-center pt-2">
  Choose a pricing plan that fits your needs
</h5>

<!-- CARD 1 -->
<div class="row row-cols-3 d-flex justify-content-center mt-5 mb-5">
  <div class="card mr-3 shadow mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-body bg-dark text-white">
      <h4 class="card-title d-flex justify-content-center">Basic</h4>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">10GB Storage</li>
      <li class="list-group-item">10 Emails</li>
      <li class="list-group-item">10 Domains</li>
      <li class="list-group-item">Endless Support</li>
      <li class="list-group-item">$ 10 per month</li>
    </ul>
    <div class="card-body">
      <a href="#">
        <button type="button"class="btn btn-outline-success w-100"> Sign Up</button>
      </a>
    </div>
  </div>
  <!-- CARD 2 -->
  <div class="card mr-3 shadow mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-body bg-secondary text-white">
      <h4 class="card-title d-flex justify-content-center">Pro</h4>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">25GB Storage</li>
      <li class="list-group-item">25 Emails</li>
      <li class="list-group-item">25 Domains</li>
      <li class="list-group-item">Endless Support</li>
      <li class="list-group-item">$ 25 per month</li>
    </ul>
    <div class="card-body">
      <a href="#">
        <button type="button"class="btn btn-outline-success w-100"> Sign Up</button>
      </a>
    </div>
  </div>
  <!-- CARD 3 -->
  <div class="card mr-3 shadow mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-body bg-dark text-white">
      <h4 class="card-title d-flex justify-content-center">Premium</h4>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">50GB Storage</li>
      <li class="list-group-item">50 Emails</li>
      <li class="list-group-item">50 Domains</li>
      <li class="list-group-item">Endless Support</li>
      <li class="list-group-item">$ 50 per month</li>
    </ul>
    <div class="card-body">
      <a href="#">
        <button type="button"class="btn btn-outline-success w-100"> Sign Up</button>
      </a>
    </div>
  </div>
</div>