<div class=" row row-cols-3 d-flex justify-content-center mt-5 mb-5">
<div class="card mr-3 shadow mb-5 bg-white rounded" style="width: 18rem;">
    <img src="/assets/imagens/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jane Doe</h5>
      <p class="text-black-50">CEO & Founder</p>
      <p class="card-text">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <a href="#" class="btn btn-outline-secondary bg-light w-100 border-0">Contact</a>
    </div>
  </div>
  <div class="card mr-3 shadow mb-5 bg-white rounded" style="width: 18rem;">
    <img src="/assets/imagens/card2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mike Ross</h5>
      <p class="text-black-50">Art Director</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-outline-secondary bg-light w-100 border-0">Contact</a>
    </div>
  </div>
  <div class="card shadow mb-5 bg-white rounded" style="width: 18rem;">
    <img src="/assets/imagens/card3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">John Doe</h5>
      <p class="text-black-50">Designer</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-outline-secondary bg-light w-100 border-0">Contact</a>
    </div>
  </div>
</div>